<body style="background-color:#FFE7E4;">
<h1 style="color:#4D0000;"> WordPath</h1>
<p style="color:#800000;">Welcome to the WordPath application. It enables the user to find the <b>shortest path</b> between two words via other meaningfull words.</p>
<p style="color:#800000;">Just click on the link below to proceed with the application!!</p1>
<p><%= link_to "Start", {:action => 'enterwords' }%></p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<marquee bgcolor=#DA4747 height=30> Developed by: Akash Kumar Gautam (IIT Delhi) </marquee>